name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

env:
  UV_LOCKED: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 1

    steps:
      - uses: actions/checkout@v4

      - name: typos
        uses: crate-ci/typos@master

      - name: markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          config: "docs/.markdownlint.yaml"
          globs: "**/*.md"

      - uses: uncenter/setup-taplo@v1
        with:
          version: "0.9.3"
      - name: taplo
        run: |
          taplo validate --colors never --no-schema
          taplo fmt --colors never --check

      - uses: astral-sh/setup-uv@v6
      - run: uv sync --only-group=list_and_test

      - name: ruff
        run: |
          uv run --no-sync ruff check --output-format=github
          uv run --no-sync ruff format --check

      - name: pytest
        run: uv run --no-sync pytest

      - name: format-ignores
        run: uv run --no-sync tool/format_ignores.py --check

  basedpyright:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        py: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: ${{ matrix.py }}

      - name: basedpyright
        run: uv run --only-group=basedpyright basedpyright

  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        py: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.py }}

      - name: mypy
        run: >
          uv run --only-group=mypy --no-editable
          mypy --no-incremental --cache-dir=/dev/null --soft-error-limit=-1 .

  stubtest:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        py: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.py }}

      - name: stubtest
        run: >
          uv run --no-dev --active -p ${{ matrix.py }}
          tool/stubtest.py
